<div class="mt3">
  <div class="mt0 mb2">
    <div class="fb-like" data-href="<%= canonicalUrl %>" data-width="294" data-layout="standard" data-action="like"
      data-size="large" data-show-faces="true" data-share="true"></div>
  </div>
  <div class="fb-comments" data-href="<%= canonicalUrl %>" data-numposts="1"></div>
</div>