<header>
    <div class="bg-midnight-express">
      <div class="container-fluid pl0 pr0 ">
        <div class="row mx-responsive navbar-height">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 p0 clearfix">
            <img class="logo m0 mtquarter unselectable float-left m-ml0 m-mt-15px" style="margin-right: 5px; margin-top: 10px; margin-left: -35px"
              src="/assets/images/logo.png" alt="UIfactory">
            <div class="float-left">
              <h1 class="page-title-size white bold-700" style="padding-top: 16px;"><a href="/" class="no-underline white-link pthalf pbhalf">UIfactory</a></h1>
            </div>
  
            <div class="float-right d-xs-block d-sm-block d-md-block d-lg-none d-xl-none" style="margin-top: .4rem">
              <ul class="nav nav-pills mt0">
                <li class="nav-item dropdown">
                  <a class="nav-link white-link dropdown-toggle sans-serif small-size border-light-gray2" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">Menü</a>
                  <div class="dropdown-menu dropdown-menu-right sans-serif ">
                    <a class="dropdown-item no-underline" href="/#munkaim">A munkáim</a>
                    <a class="dropdown-item no-underline" href="/modszerem.html">A módszerem</a>
                    <a class="dropdown-item no-underline" href="/hasznos-linkek.html">Hasznos linkek</a>
                    <a class="dropdown-item no-underline" href="/blog.html">Blog</a>
                    <a class="dropdown-item no-underline" href="#kapcsolat">Kapcsolat</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 p0 clearfix">
  
            <nav class="float-right sans-serif mobile-hide-nav" style="margin-top: .4rem" role="navigation">
              <a href="/#munkaim" class="min-size white-link mr1 pthalf">A munkáim</a>
              <a href="/modszerem.html" class="min-size white-link mr1 pthalf">A módszerem</a>
              <a href="/hasznos-linkek.html" class="min-size white-link mr1 pthalf">Hasznos linkek</a>
              <a href="/blog.html" class="min-size white-link mr1 pthalf">Blog</a>
              <a href="#kapcsolat" class="min-size white-link pthalf">Kapcsolat</a>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>