<header>
  <div class="bg-midnight-express">
    <div class="container-fluid pl0 pr0 ">
      <div class="row mx-responsive navbar-height">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p0">
          <a href="/" class="no-underline">
            <img class="logo m0 mtquarter unselectable left" style="margin-right: 7px; margin-top: 10px;" src="/assets/images/logo.png" alt="UIfactory">
            <h1 class="page-title white bold-700" style="padding-top: 16px;">UIfactory</h1>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
