<div class="bg-light-honeycombs">
  <div class="container-fluid p0 m0">
    <div class="row mx-responsive">
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10 p0">
        <h1 class="m0 mbhalf fs72 m-mt2" style="margin-top: 70px;">UIfactory</h1>
        <h2 class="m0 sub-title mb2 m-mb-50px">Gulácsi András design portfóliója</h2>

        <p class="mb1">UI/UX designer-nek tanulok és munkát keresek UI designer pozícióba. Az Udemy
          kurzusaiból
          tanulok (oktatóim: <i>Muhammad Ahsan Pervaiz</i>, <i>Joe Natoli</i>, <i>Krisztina Szerovay</i>), továbbá
          teljesítettem az <a href="https://uxstudioteam.com/ux-tanfolyam/">UXstudio</a> nyolc hetes Digital Product
          Design tanfolyamát.</p>
        <div class="mb1 m-mb1">
          <a href="<%= linkedin %>" class="white btn bg-midnight-express uppercase no-underline min-size btn-text bold-700 expanded mb1 mrhalf m-mrquarter">LinkedIn</a>
          <a href="<%= email %>" class="white btn bg-torch-red-2 uppercase no-underline min-size btn-text bold-700 expanded mb1 mrhalf m-mrquarter">E-mail</a>
          <a href="<%= cv %>" class="white btn bg-torch-red-2 uppercase no-underline min-size btn-text bold-700 expanded mb1">CV
            (PDF)</a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 p0 pl1 m-pl0">
        <img class="profile mb1 m-mt0" style="margin-top: 85px;" src="/assets/images/profilkep_fit.jpg" alt="Profilkép">
      </div>
    </div>
  </div>
</div>