<div class="bg-light-honeycombs pb1">
  <div class="container-fluid p0 m0">
    <div class="row mx-responsive">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p0">
        <h1 class="m0 mbhalf mobile-title fs72 mt-80px">UIfactory</h1>
        <h2 class="m0 sub-title mb-62px">Gulácsi András design portfóliója</h2>
      </div>
    </div>
    <div class="row mx-responsive">
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 col-xl-2 p0">
        <img class="profile" src="/assets/images/profilkep_fit.jpg" alt="Profilkép">
      </div>
      <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 col-xl-8 p0">
        <p class="m0 mb-66px">UI/UX designer-nek tanulok és munkát keresek UI designer pozícióba. Az Udemy kurzusaiból tanulok (oktatóim: <i>Muhammad Ahsan Pervaiz</i>, <i>Joe Natoli</i>, <i>Krisztina Szerovay</i>), továbbá teljesítettem az <a href="https://uxstudioteam.com/ux-tanfolyam/">UXstudio</a> nyolc hetes Digital Product Design tanfolyamát is.</p>
        <a href="<%= linkedin %>" class="almost-white btn btn-lg bg-midnight-express uppercase no-underline small-size bold-700 expanded mb1 mr-45px">LinkedIn</a>
        <a href="<%= email %>" class="almost-white btn btn-lg bg-torch-red uppercase no-underline small-size bold-700 expanded mb1 mr-45px">E-mail</a>
        <a href="<%= cv %>" class="almost-white btn btn-lg bg-torch-red uppercase no-underline small-size bold-700 expanded mb1">CV (PDF)</a>
      </div>
    </div>
  </div>
</div>