<div class="bg-light-honeycombs">
  <div class="container-fluid p0 m0">
    <div class="row mx-responsive">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-9 p0">
        <h1 class="m0 mbhalf fs72 mt70px m-mt2">UIfactory</h1>
        <h2 class="m0 sub-title mb2 m-mb-50px">Gulácsi András design portfóliója</h2>

        <p class="mb2">
          UI/UX designer-nek tanulok és munkát keresek UI designer pozícióba. Gyakornoki pozíció is érdekel. Az Udemy
          kurzusaiból tanulok, továbbá elvégeztem az <a href="https://uxstudioteam.com/ux-tanfolyam/">UXstudio</a>
          nyolc hetes Digital Product Design tanfolyamát. Folyamatosan fejlesztem magamat a design területén.
        </p>
        <div class="mb1 m-mb1">
          <a href="#munkaim" class="white btn bg-midnight-express uppercase no-underline min-size btn-text bold-700 expanded mb1 mrhalf m-mrquarter">A
            munkáim</a>
          <a href="/modszerem.html" class="white btn bg-torch-red-2 uppercase no-underline min-size btn-text bold-700 expanded mb1 mrhalf m-mrquarter">A
            módszerem</a>
          <a href="/hasznos-linkek.html" class="white btn bg-torch-red-2 uppercase no-underline min-size btn-text bold-700 expanded mb1 mrhalf m-mrquarter">Hasznos
            linkek</a>
          <a href="#kapcsolat" class="white btn bg-midnight-express uppercase no-underline min-size btn-text bold-700 expanded mb1 mrhalf m-mrquarter">Kapcsolat</a>
          <a href="/blog.html" class="white btn bg-torch-red-2 uppercase no-underline min-size btn-text bold-700 expanded mb1">Blog</a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-3 p0 pl1 m-pl0">
        <img class="profile mb1 m-mt0" style="margin-top: 85px;" src="/assets/images/profile.jpg" alt="Profilkép">
        <div class="mb1 m-mb1">
          <ul class="no-bullets">
            <li><a href="<%= email %>" class="small-size expanded mb1"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail mrquarter"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>gulandras90@gmail.com</a></li>
            <li><a href="<%= cv %>" class="small-size expanded mb1"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-book mrquarter"><path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"></path><path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"></path></svg>Önéletrajz (pdf)</a></li>
            <li><a href="<%= facebook %>" class="small-size expanded mb1"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mrquarter"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook oldal</a></li>
            <li><a href="<%= linkedin %>" class="small-size expanded mb1"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-linkedin mrquarter"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path><rect x="2" y="9" width="4" height="12"></rect><circle cx="4" cy="4" r="2"></circle></svg>LinkedIn oldal</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>