<div class="align-center mt3 m-mt2">
  <img class="profile-img mx-auto mb0 m0 m-mt1" src="/assets/images/profile.png" alt="Profilkép">
  <h1 class="m0 mb0 site-title mt0"><%= site.author %></h1>
  <p class="mb0 pbhalf">
    <%= site.description %>
  </p>
</div>
<div class="mb2 m-mb1 pt1 align-center clearfix">
  <a href="#work"
    class=" white btn bg-dark-pink uppercase no-underline min-size btn-text bold-700 expanded mb1 mr1">Munkáim
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
      stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down">
      <polyline points="6 9 12 15 18 9"></polyline>
    </svg></a>
  <a href="<%= site.cv %>" rel="noreferrer noopener" target="_blank"
    class=" white btn bg-dark-pink uppercase no-underline min-size btn-text bold-700 expanded mb1">CV
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
      stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download-cloud">
      <polyline points="8 17 12 21 16 17"></polyline>
      <line x1="12" y1="12" x2="12" y2="21"></line>
      <path d="M20.88 18.09A5 5 0 0 0 18 9h-1.26A8 8 0 1 0 3 16.29"></path>
    </svg></a>
</div>