<div class="container-fluid p0 m0">
  <div class="row mx-responsive">
    <div class="col-9 mt3 mb2 p0">
      <h2 class="uppercase m0 mb2">Munkáim</h2>
      <section class="design-item mb2">
        <div class="row">
          <div class="col-11 bg-light-gray border-light-gray2 plhalf pr1 pbhalf">
              <h3 class="mb1 mt1">Alpha Barber Shop</h3>
              <div class="row">
                <div class="col-4 p0">
                  <img class="m0 mlhalf" style="margin-top: 9px;" src="/assets/images/Alpha_Barber_Shop_UI_desktop_final_2019_crop.jpg" alt="Az Alpha Barber Shop honlapja">
                </div>
                <div class="col-8 p0">
                  <p>A férfiasság temploma. Retro stílus és jó hangulat. Borbélyaink kiváló szakemberek, akik a legtrendibb hajakat és szakállakat vágják Neked.</p>
                  <a href="/" class="prhalf pthalf pbhalf uppercase sans-serif small-size">Design megtekintése</a>
                </div>
              </div>
          </div>
        </div>
      </section>
      <section class="design-item mb2">
        <div class="row">
          <div class="col-11 bg-light-gray border-light-gray2 plhalf pr1 pbhalf">
            <h3 class="mb1 mt1">Malembe Afro Dance Hungary</h3>
            <div class="row">
              <div class="col-4 p0">
                <img class="m0 mlhalf" style="margin-top: 9px;" src="/assets/images/Malembe_UI_desktop_final_2019_crop.jpg" alt="A Malembe tánciskola honlapja">
              </div>
              <div class="col-8 p0">
                <p>Célunk, hogy tánctanfolyamok, bemutatók és bulik szervezésével népszerűsítsük a Magyarországon még kevésbé ismert afro-táncokat, zenéket.</p>
                <a href="/" class="prhalf pthalf pbhalf uppercase sans-serif small-size">Design megtekintése</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="design-item mb2">
        <div class="row">
          <div class="col-11 bg-light-gray border-light-gray2 plhalf pr1 pbhalf">
            <h3 class="mb1 mt1">Strong Shoes reklám</h3>
            <div class="row">
              <div class="col-4 p0">
                <img class="m0 mlhalf" style="margin-top: 9px;" src="/assets/images/Strong_Shoes_UI_advertisement_final_2019.jpg" alt="Strong Shoes cipőreklám">
              </div>
              <div class="col-8 p0">
                <p>Strong Shoes cipőreklám – 35% leárazás az áruház őszi kollekciójából. A reklám csupán kitaláció.</p>
                <a href="/" class="prhalf pthalf pbhalf uppercase sans-serif small-size">Design megtekintése</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="col-3 mb2 p0" style="margin-top: 207px;">
      <div class="bg-light-gray border-light-gray2 pl1">
        <h4 class="uppercase mt1">Képességeim</h4>
        <ul class="no-bullets m0 p0 sans-serif">
          <li class="pbhalf">
            <span class="small-size">UI Design</span>
            <div class="bg-hawkes-blue level-bar-outer" style="margin-top: 4px">
              <div class="bg-light-pink level-bar-inner135"></div>
            </div>
          </li>
          <li class="pbhalf">
            <span class="small-size">Rajz, prototípus</span>
            <div class="bg-hawkes-blue level-bar-outer" style="margin-top: 4px">
              <div class="bg-light-pink level-bar-inner125"></div>
            </div>
          </li>
          <li class="pbhalf">
            <span class="small-size">UX kutatás</span>
            <div class="bg-hawkes-blue level-bar-outer" style="margin-top: 4px">
              <div class="bg-light-pink level-bar-inner36"></div>
            </div>
          </li>
          <li class="pbhalf">
            <span class="small-size">HTML, CSS</span>
            <div class="bg-hawkes-blue level-bar-outer" style="margin-top: 4px">
              <div class="bg-light-pink level-bar-inner125"></div>
            </div>
          </li>
          <li class="pbhalf">
            <span class="small-size">JavaScript, Node.js</span>
            <div class="bg-hawkes-blue level-bar-outer" style="margin-top: 4px">
              <div class="bg-light-pink level-bar-inner75"></div>
            </div>
          </li>
          <li class="mb2">
            <span class="small-size">Angol nyelv</span>
            <div class="bg-hawkes-blue level-bar-outer" style="margin-top: 4px">
              <div class="bg-light-pink level-bar-inner85"></div>
            </div>
          </li>
        </ul>
        <h4 class="uppercase">Eszközeim</h4>
        <ul class="no-bullets m0 mb1 p0 sans-serif small-size lh15">
          <li>Figma</li>
          <li>Axure RP</li>
          <li>Adobe Photoshop</li>
          <li>Visual Studio Code</li>
          <li>Github</li>
          <li>Netlify</li>
          <li>Bootstrap</li>
          <li>Hotjar...</li>
        </ul>
      </div>
    </div>
  </div>
</div>