<div class="mt3">
  <div class="align-center">
    <img class="mx-auto mt0 mb2" src="/assets/images/island.png"
      alt="Shipwrecked and lost guy on an island. Maybe Robinson?">
    <h1 class="h2 mb0">Hej, úgy tűnik elvesztél. Kimentsünk?</h1>
    <a href="\"
      class="mt1 mb3 white btn bg-light-pink uppercase no-underline min-size btn-text bold-700 expanded"
      role="button">Mentsd meg Robinson Crusoe-t</a>
  </div>
</div>