<div class="mt3">
  <div class="align-center">
    <h2 class="mb0 mt3">404 Hupsz!</h2>
    <p>Ez az oldal nem található.</p>
    <a href="\" class="mt1 mb3 btn btn-lg bg-torch-red uppercase no-underline white-link expanded border-shadow small-size bold-700" role="button">Ugrás a kezdőlapra</a>
  </div>
</div>
