<div class="m-mx-16px">
  <h1 class="mt3 m-mt2">Design hírek a világból</h1>
  <hr>
  <p class="mt1 mb2">Az UI/UX designnal és a fejlesztéssel kapcsolatos híreket gyűjtöm össze itt. Nem teljes körű a
    lista,
    inkább csak a számomra értékesnek talált cikkeket adom hozzá.</p>

  <article>
    <span class="gray-3 small-size sans-serif bold-600"><%= utils.today %></span>
    <h2 class="mt0"><a
        href="https://www-theverge-com.cdn.ampproject.org/c/s/www.theverge.com/platform/amp/2019/12/5/20996748/microsoft-fluent-design-mobile-office-apps-new-updates-features"
        rel="noreferrer noopener">Microsoft
        wants everyone to follow its lead with its new mobile design</a></h3>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" class="embed-responsive-item"
          src="https://www.youtube-nocookie.com/embed/miM6mBAfA8g" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <span class="gray-3 mb0 pb0 small-size sans-serif">Témakör: design</span>
  </article>
  <hr class="mb2 mt2 light-hr">
  <article>
    <span class="gray-3 small-size sans-serif bold-600"><%= utils.today %></span>
    <h2 class="mt0"><a href="https://www.netlify.com/blog/2019/10/07/complete-intro-to-netlify-in-3.5-hours/"
        rel="noreferrer noopener">Complete Intro to Netlify in 3.5 hours</a></h3>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/mT5siI19gtc" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <span class="gray-3 mb0 pb0 small-size sans-serif">Témakör: fejlesztés</span>
  </article>
</div>