<div class="m-mx-16px">
  <h1 class="mt3 m-mt2">Hasznos UI design eszközök és források</h1>
  <hr>
  <p class="mt2">A listát folyamatosan bővítem. Ezek a források és eszközök sokat segítenek neked nagyszerű digitális dolgok létrehozásában. Frontend forrásokat szintén hozzáadok.</p>
  <h2 class="h3">Android & iOS anyagok</h2>
  <ul>
    <li><a href="https://materialdesignkit.com/android-gui/" rel="noreferrer noopener" target="_blank"><b>Material Design Kit</b> (Android Nougat Free GUI)</a>
    </li>
    <li><a href="https://iosdesignkit.io/ios-12-gui/" rel="noreferrer noopener" target="_blank"><b>iOS Design Kit</b> (iOS 12 GUI, iPhone XS, iPhone 8)</a>
    </li>
  </ul>
  <h2 class="h3">UX/UI designerek, akiktől tanulhatsz</h2>
  <ul>
    <li><a href="https://www.udemy.com/user/muhammadahsanpervaiz/" rel="noreferrer noopener" target="_blank">Muhammad Ahsan Pervaiz</a></li>
    <li><a href="http://erikdkennedy.com/" rel="noreferrer noopener" target="_blank">Erik D. Kennedy</a></li>
    <li><a href="https://www.udemy.com/user/davidtravis/" rel="noreferrer noopener" target="_blank">David Travis</a></li>
    <li><a href="https://www.udemy.com/user/joenatoli/" rel="noreferrer noopener" target="_blank">Joe Natoli</a></li>
  </ul>

  <h2 class="h3">UI Design inspiráció</h2>
  <ul>
    <li><a href="https://www.behance.net/search?content=projects&sort=featured_date&time=week&featured_on_behance=true" rel="noreferrer noopener" target="_blank"><b>Béhance</b></a></li>
    <li><a href="https://dribbble.com/" rel="noreferrer noopener" target="_blank">Dribbble</a></li>
  </ul>

  <h2 class="h3">A legjobb UX/DX blogok <span class="badge badge-secondary white min-size normal">new</span></h2>
  <ul>
    <li><a href="https://uxplanet.org/" rel="noreferrer noopener" target="_blank">UX Planet</a></li>
    <li><a href="https://uxdesign.cc/" rel="noreferrer noopener" target="_blank">UX Collective</a></li>
    <li><a href="https://uxstudioteam.com/ux-blog/" rel="noreferrer noopener" target="_blank">UXstudio Blog</a></li>
    <li><a href="https://pronovix.com/articles/" rel="noreferrer noopener" target="_blank">Pronovix DevPortals Blog</a> <span class="badge badge-secondary white min-size normal">new</span></li>
  
    
  </ul>

  <h2 class="h3">Tipográfiai fogalmak és anatómia</h2>
  <ul>
    <li><a href="https://www.supremo.co.uk/typeterms/" rel="noreferrer noopener" target="_blank">Type Terms</a></li>
    <li><a href="https://www.deviantart.com/martinsilvertant/art/Typography-Series-01-Anatomy-of-typography-329617642" rel="noreferrer noopener" target="_blank">Typography
        Series 01 by Martin Silvertant</a></li>
    <li><a href="https://typedecon.com/blogs/type-glossary/" rel="noreferrer noopener" target="_blank">TypeDeCon</a></li>
    <li><a href="http://typedia.com/learn/only/anatomy-of-a-typeface/" rel="noreferrer noopener" target="_blank">Typedia</a></li>
    <li><a href="http://typewar.com/" rel="noreferrer noopener" target="_blank">Typewar (identify font game)</a></li>
    <li><a href="https://type.method.ac/" rel="noreferrer noopener" target="_blank">Kerntype (letter kerning game)</a></li>
  </ul>

  <h2 class="h3">Tipográfiai hierarchia, pixeldenzitás</h2>
  <ul>
    <li><a href="https://www.modularscale.com/" rel="noreferrer noopener" target="_blank">Modular Scale</a></li>
    <li><a href="https://www.gridlover.net/try" rel="noreferrer noopener" target="_blank"><b>GridLover</b></a></li>
    <li><a href="https://type-scale.com/" rel="noreferrer noopener" target="_blank">TypeScale</a></li>
     <li><a href="https://www.pixplicity.com/dp-px-converter" rel="noreferrer noopener" target="_blank">Pixplicity: DP/PX CONVERTER</a></li>
  </ul>

  <h2 class="h3">Betűtípus listák, betűtípus párosítás</h2>
  <ul>
    <li><a href="https://www.typewolf.com/recommendations" rel="noreferrer noopener" target="_blank">TypeWolf</a></li>
    <li><a href="https://fontpair.co/" rel="noreferrer noopener" target="_blank">FontPair</a></li>
    <li><a href="http://www.ourownthing.co.uk/fontpairing/" rel="noreferrer noopener" target="_blank"><b>Font Pairing</b></a></li>
    <li><a href="http://www.typeconnection.com/index.php" rel="noreferrer noopener" target="_blank">Type Connection (game)</a></li>
    <li><a href="https://fonts.google.com/" rel="noreferrer noopener" target="_blank"><b>Google Fonts</b></a></li>
    <li><a href="http://typespiration.com/" rel="noreferrer noopener" target="_blank">typespiration</a></li>
    <li><a href="https://fontsinuse.com/" rel="noreferrer noopener" target="_blank">Fonts In Use</a></li>
    <li><a href="http://typ.io/" rel="noreferrer noopener" target="_blank">Typ.io</a></li>
  </ul>

  <h2 class="h3">Web hozzáférhetőség</h2>
  <ul>
    <li><a href="https://webaim.org/resources/contrastchecker/" rel="noreferrer noopener" target="_blank">WebAim – Color Contrast Checker</a></li>
    <li><a href="https://contrast-ratio.com/" rel="noreferrer noopener" target="_blank"><b>Contrast-ratio</b></a></li>
    <li><a href="https://colororacle.org/" rel="noreferrer noopener" target="_blank">Color Oracle (color blind filter app)</a></li>
  </ul>

  <h2 class="h3">Színeszközök</h2>
  <ul>
    <li><a href="https://www.htmlcsscolor.com/" rel="noreferrer noopener" target="_blank"><b>HTML CSS Color Picker</b></a></li>
    <li><a href="https://picular.co/" rel="noreferrer noopener" target="_blank">Picular</a></li>
    <li><a href="https://coolors.co/" rel="noreferrer noopener" target="_blank">Coolors</a></li>
    <li><a href="https://color.adobe.com/create" rel="noreferrer noopener" target="_blank">Adobe Color</a></li>
    <li><a href="https://chrome.google.com/webstore/detail/colorzilla/bhlhnicpbhignbdhedgjhgdocnmhomnp/related" rel="noreferrer noopener" target="_blank"><b>ColorZilla</b></a></li>
    <li><a href="https://mycolor.space/gradient" rel="noreferrer noopener" target="_blank">ColorSpace CSS Color Gradient</a></li>
    <li><a href="https://www.colorzilla.com/gradient-editor/" rel="noreferrer noopener" target="_blank">Ultimate CSS Gradient Generator</a></li>
  </ul>

  <h2 class="h3">Favicon készítő</h2>
  <ul>
    <li><a href="https://realfavicongenerator.net/" rel="noreferrer noopener" target="_blank">Real Favicon Generator</a></li>
  </ul>

  <h2 class="h3">Képeszközök</h2>
  <ul class="mb2">
    <li><a href="https://imagecompressor.com/" rel="noreferrer noopener" target="_blank">Optimizilla</a></li>
    <li><a href="https://generated.photos/" rel="noreferrer noopener" target="_blank">100,000 AI-generated Faces</a></li>
  </ul>

  <h2 class="h3">Ikonkészletek, gombok <span class="badge badge-secondary white min-size normal">new</span></h2>
  <ul class="mb2">
    <li><a href="https://feathericons.com/" rel="noreferrer noopener" target="_blank">Feather icons</a></li>
    <li><a href="http://www.evericons.com/" rel="noreferrer noopener" target="_blank">Evericons</a></li>
    <li><a href="https://www.scrolltotop.com/" rel="noreferrer noopener" target="_blank">Scroll-to-top buttons</a></li>
    <li><a href="https://remixicon.com/" rel="noreferrer noopener" target="_blank">REMIX ICON 2.0.0</a> <span class="badge badge-secondary white min-size normal">new</span></li>
  </ul>

  <h2 class="h3">Szövegeszközök</h2>
  <ul class="mb2">
    <li><a href="https://yaytext.com" rel="noreferrer noopener" target="_blank">YayText</a></li>
  </ul>
  
  <h2 class="h3">Egyéb eszközök</h2>
  
  <ul class="mb2">
    <li><a href="https://www.embedgooglemap.net/" rel="noreferrer noopener" target="_blank">Embed Google Map</a></li>
  </ul>
  
  
</div>
