<div class="m-mx-18px">
  <h1 class="mt3 m-mt2">Hasznos linkek és appok az UI design-hoz</h1>
  <p>A lista folyamatosan bővülni fog újabb hasznos linkekkel és webalkalmazásokkal, amelyek segíthetnek téged a
    munkád során.</p>
  <h2 class="h3">Android & iOS Resources</h2>
  <ul>
    <li><a href="https://materialdesignkit.com/android-gui/"><b>Material Design Kit</b> (Android Nougat Free GUI)</a>
    </li>
    <li><a href="https://iosdesignkit.io/ios-12-gui/"><b>iOS Design Kit</b> (iOS 12 GUI, iPhone XS, iPhone 8)</a>
    </li>
  </ul>
  <h2 class="h3">UX/UI Designers to Learn From</h2>
  <ul>
    <li><a href="https://www.udemy.com/user/muhammadahsanpervaiz/">Muhammad Ahsan Pervaiz</a></li>
    <li><a href="http://erikdkennedy.com/">Erik D. Kennedy</a></li>
    <li><a href="https://www.udemy.com/user/davidtravis/">David Travis</a></li>
    <li><a href="https://www.udemy.com/user/joenatoli/">Joe Natoli</a></li>
  </ul>

  <h2 class="h3">UI Design Inspiration</h2>
  <ul>
    <li><a href="https://www.behance.net/search?content=projects&sort=featured_date&time=week&featured_on_behance=true"><b>Béhance</b></a></li>
    <li><a href="https://dribbble.com/">Dribbble</a></li>
  </ul>

  <h2 class="h3">Best UX Blogs</h2>
  <ul>
    <li><a href="https://uxplanet.org/">UX Planet</a></li>
    <li><a href="https://uxdesign.cc/">UX Collective</a></li>
    <li><a href="https://uxstudioteam.com/ux-blog/">UXstudio Blog</a></li>
  </ul>

  <h2 class="h3">Typography Terms & Anatomy</h2>
  <ul>
    <li><a href="https://www.supremo.co.uk/typeterms/">Type Terms</a></li>
    <li><a href="https://www.deviantart.com/martinsilvertant/art/Typography-Series-01-Anatomy-of-typography-329617642">Typography
        Series 01 by Martin Silvertant</a></li>
    <li><a href="https://typedecon.com/blogs/type-glossary/">TypeDeCon</a></li>
    <li><a href="http://typedia.com/learn/only/anatomy-of-a-typeface/">Typedia</a></li>
    <li><a href="http://typewar.com/">Typewar (identify font game)</a></li>
    <li><a href="https://type.method.ac/">Kerntype (letter kerning game)</a></li>
  </ul>

  <h2 class="h3">Typographic Hierarchy (scale)</h2>
  <ul>
    <li><a href="https://www.modularscale.com/">Modular Scale</a></li>
    <li><a href="https://www.gridlover.net/try"><b>GridLover</b></a></li>
    <li><a href="https://type-scale.com/">TypeScale</a></li>
  </ul>

  <h2 class="h3">Font Lists, Pairing</h2>
  <ul>
    <li><a href="https://www.typewolf.com/recommendations">TypeWolf</a></li>
    <li><a href="https://fontpair.co/">FontPair</a></li>
    <li><a href="http://www.ourownthing.co.uk/fontpairing/"><b>Font Pairing</b></a></li>
    <li><a href="http://www.typeconnection.com/index.php">Type Connection (game)</a></li>
    <li><a href="https://fonts.google.com/"><b>Google Fonts</b></a></li>
    <li><a href="http://typespiration.com/">typespiration</a></li>
    <li><a href="https://fontsinuse.com/">Fonts In Use</a></li>
    <li><a href="http://typ.io/">Typ.io</a></li>
  </ul>

  <h2 class="h3">Web Accessibility</h2>
  <ul>
    <li><a href="https://webaim.org/resources/contrastchecker/">WebAim – Color Contrast Checker</a></li>
    <li><a href="https://contrast-ratio.com/"><b>Contrast-ratio</b></a></li>
    <li><a href="https://colororacle.org/">Color Oracle (color blind filter app)</a></li>
  </ul>

  <h2 class="h3">Color Tools</h2>
  <ul>
    <li><a href="https://www.htmlcsscolor.com/"><b>HTML CSS Color Picker</b></a></li>
    <li><a href="https://picular.co/">Picular</a></li>
    <li><a href="https://coolors.co/">Coolors</a></li>
    <li><a href="https://color.adobe.com/create">Adobe Color</a></li>
    <li><a href="https://chrome.google.com/webstore/detail/colorzilla/bhlhnicpbhignbdhedgjhgdocnmhomnp/related"><b>ColorZilla</b></a></li>
    <li><a href="https://mycolor.space/gradient">ColorSpace CSS Color Gradient</a></li>
  </ul>

  <h2 class="h3">Favicon Generator</h2>
  <ul>
    <li><a href="https://realfavicongenerator.net/">Real Favicon Generator</a></li>
  </ul>

  <h2 class="h3">Image Tools</h2>
  <ul class="mb2">
    <li><a href="https://imagecompressor.com/">Optimizilla</a></li>
  </ul>

  <h2 class="h3">Icon sets, button images etc. <span class="badge badge-secondary white min-size normal">új</span></h2>
  <ul class="mb2">
    <li><a href="https://feathericons.com/">Feather icons</a> <span class="badge badge-secondary white min-size normal">új</span></li>
    <li><a href="http://www.evericons.com/">Evericons</a> <span class="badge badge-secondary white min-size normal">új</span></li>
    <li><a href="https://www.scrolltotop.com/">Scroll-to-top buttons</a> <span class="badge badge-secondary white min-size normal">új</span></li>
  </ul>

  <h2 class="h3">Text tools <span class="badge badge-secondary white min-size normal">új</span></h2>
  <ul class="mb2">
    <li><a href="https://yaytext.com">YayText</a> <span class="badge badge-secondary white min-size normal">új</span></li>
  </ul>
</div>