<div class="row m0 p0">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-10">
    <h1 class="mt3 mb0">A módszerem és munkamenetem</h1>
    <hr class="mb2">
    <p>Jelenleg igyekszem összefoglalni a design munkamenetemet, elvek, trükkök és irányvonalak gyűjteményét, hogy
      hatékonyabbá, gyorsabbá tegyem a tervezési folyamatot. Egyfajta design rendszeren dolgozom. Részletek hamarosan.
    </p>
    <p>A Dupla Gyémánt modellt alkalmazom a tervezés során: felfedez, definiál, kifejleszt és véglegesít, ami egy
      lineáris szisztéma. Nem dolgozok össze-vissza és szeretek elmélyülni abban, amit éppen csinálok.
    </p>
    <figure class="mb2 mt2">
      <img class="mt0 medium-img mx-auto" src="/assets/images/doublediamonddesignprocess2.png" alt="Dupla Gyémánt Modell">
      <figcaption class="align-center m-mb0">A Dupla Gyémánt Tervezési Folyamat</figcaption>
    </figure>

  </div>
</div>