@charset "UTF-8";
/* Created by András Gulácsi (@andrasgulacsi / salsaboy990) */

// Size Variables
$baseline:    1.5rem /* 33px */;
$base-size:   22px;
$lheight:     1.5;
$h1-size:     2.727272rem;
$h2-size:     1.954545rem;
$h3-size:     1.409090rem;
$small-size:  0.818181rem;
$min-size:    0.727272rem;
$extra-small: 0.636363rem;
$page-title-size: 0.909090rem;

$footer-title: 1.136363rem;

.page-title-size {
  font-size: $page-title-size;
}

.footer-title {
  font-size: $footer-title;
}

.extra-small {
  font-size: $extra-small;
}

// Fonts
$heading-font: 'IBM Plex Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
$body-font:    'IBM Plex Serif', Georgia, 'Times New Roman', Times, serif; 


// Color Variables
$midnight-express: #21263C;
$san-juan:         #47545d;
$light-san-juan:   #c5cdd2;
$darker-san-juan:  #30393F;
$black:            #333C42;
$hawkes-blue:      #D7DAE1;
$almost-white:     #F2F2F2;
$torch-red:        #EF163E;
$torch-red-2:      #D61438;
$light-pink:       #EF607A;
$light-gray:       #ECF0F7;
$light-gray2:      #D9DDE3;
$gray-3:           #7E919E;
$gray-4:           #AEB6C1;
$white:        #FFF;
$gray:         #C0BBB9;
$gray2:        #A89E9C;
$dark-gray:    #433F3E;
$blue:         #2A3E94;


// Function to calculate margin sizes (n times the baseline grid size)
@function margin-size($n) {
  @return $n * $baseline;
}

.sub-title {
  font-size: $h3-size;
  font-weight: 400;
  color: $san-juan;
}

.small-size {
  font-size: $small-size;
}

.min-size {
  font-size: $min-size;
}

.border-gray {
  border: 1px solid $gray-3;
  box-sizing: border-box;
  border-radius: 4px;
}

.border-gray-4 {
  border: 1px solid $gray-4;
  box-sizing: border-box;
  border-radius: 0px 7px;
}

.black {
  color: $black;
}

.midnight-express {
  color: $midnight-express !important
}
.bg-midnight-express {
  background: $midnight-express
}

.san-juan {
  color: $san-juan
}

.bg-san-juan {
  background: $san-juan
}

.darker-san-juan {
  color: $darker-san-juan
}

.hawkes-blue {
  color: $hawkes-blue
}
.bg-hawkes-blue {
  background: $hawkes-blue
}

.almost-white {
  color: $almost-white
}
.white {
  color: $white
}

.torch-red {
  color: $torch-red
}
.bg-torch-red {
  background: $torch-red
}

.bg-torch-red-2 {
  background: $torch-red-2
}

.light-pink {
  color: $light-pink
}
.bg-light-pink {
  background: $light-pink
}
.light-gray {
  color: $light-gray
}
.bg-light-gray {
  background: $light-gray
}
.light-gray2 {
  color: $light-gray2
}

.border-light-gray2 {
  border: 1px solid $light-gray2;
  box-sizing: border-box;
  border-radius: 0px 7px;
}



body,
html {
    color: $black;
    background: $white;
    font-size: $base-size;
    font-family: $body-font;
    line-height: $lheight;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: left
}

body, p, blockquote,
figure, figcaption {
    margin: 0;
    padding: 0;
}

pre {
    margin: 2rem 0;
    padding: 0;
}

pre code {
    font-size: 0.8rem;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font;
    font-weight: 700 !important;
    color: $midnight-express;
    margin: 2rem 0 $baseline 0;
    -webkit-font-smoothing: initial;
    line-height: 1.1
}

.sans-serif {
  font-family: $heading-font;
}

/*.page-title {
  font-size: 1rem;
}*/

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    text-decoration: underline;
    font-weight: 700
}

h1,
.h1 {
    font-size: $h1-size;
    margin-top: 0
}

h2,
.h2 {
    font-size: $h2-size
}

h3,
.h3 {
    font-size: $h3-size
}

h4,
.h4 {
    font-size: $base-size
}

h5,
.h5 {
    font-size: $small-size;
}

h6,
.h6 {
    font-size: $min-size
}

p {
    /*font-size: 1rem;*/
    margin-top: 0;
    margin-bottom: 1rem;
}

ol,
ul {
    margin-top: 0;
    padding-left: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1rem;
}

.no-bullets {
    list-style-type: none;
    margin-left: 0rem;
    padding-left: 0;
    line-height: 1.7;
}

blockquote {
    font-style: italic;
    font-family: $body-font;
    padding: 0;
}

.no-shadow {
    -webkit-box-shadow: none;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    none;  /* Firefox 3.5 - 3.6 */
    box-shadow:         none;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}


.tshadow-gray {
    text-shadow:
        -0.5px -0.5px 0 #999,
        0.5px -0.5px 0 #999,
        -0.5px 0.5px 0 #999,
        0.5px 0.5px 0 #999;
}

.lheight {
    line-height: 70px
}

.lh15 {
    line-height: 1.5
}

.lh13 {
    line-height: 1.333333 
}

.lh2 {
    line-height: 2
}

.lh3 {
    line-height: 2.5
}

/*
!++++++ MARGINS
*/

/* 0 rem */
.m0 {
  margin: 0rem
}

.mt0 {
  margin-top: 0rem
}

.mr0 {
  margin-right: 0rem
}

.mb0 {
  margin-bottom: 0rem
}

.ml0 {
  margin-left: 0rem
}

/* 1 baseline */
.m1 {
  margin: $baseline
}

.mt1 {
  margin-top: $baseline
}

.mr1 {
  margin-right: $baseline
}

.mb1 {
  margin-bottom: $baseline
}

.ml1 {
  margin-left: $baseline
}

/* 2 baseline */
.m2 {
  margin: margin-size(2)
}

.mt2 {
  margin-top: margin-size(2)
}

.mr2 {
  margin-right: margin-size(2)
}

.mb2 {
  margin-bottom: margin-size(2)
}

.ml2 {
  margin-left: margin-size(2)
}


/* 3 baseline */
.m3 {
  margin: margin-size(3)
}

.mt3 {
  margin-top: margin-size(3)
}

.mr3 {
  margin-right: margin-size(3)
}

.mb3 {
  margin-bottom: margin-size(3)
}

.ml3 {
  margin-left: margin-size(3)
}

/* 4 baseline */
.m4 {
  margin: margin-size(4)
}

.mt4 {
  margin-top: margin-size(4)
}

.mr4 {
  margin-right: margin-size(4)
}

.mb4 {
  margin-bottom: margin-size(4)
}

.ml4 {
  margin-left: margin-size(4)
}

/* 5 baseline */
.m5 {
  margin: margin-size(5)
}

.mt5 {
  margin-top: margin-size(5)
}

.mr5 {
  margin-right: margin-size(5)
}

.mb5 {
  margin-bottom: margin-size(5)
}

.ml5 {
  margin-left: margin-size(5)
}

/* 6 baseline */
.m6 {
  margin: margin-size(6)
}

.mt6 {
  margin-top: margin-size(6)
}

.mr6 {
  margin-right: margin-size(6)
}

.mb6 {
  margin-bottom: margin-size(6)
}

.ml6 {
  margin-left: margin-size(6)
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.mx-responsive {
  margin-left: margin-size(5);
  margin-right: margin-size(5)
}

.mx-responsive-85 {
  margin-left: margin-size(5);
  margin-right: 85px;
}


.mhalf {
  margin: margin-size(0.5)
}

.mthalf {
  margin-top: margin-size(0.5)
}

.mrhalf {
  margin-right: margin-size(0.5)
}

.mbhalf {
  margin-bottom: margin-size(0.5)
}

.mlhalf {
  margin-left: margin-size(0.5)
}

.mrquarter {
  margin-right: margin-size(0.25)
}

.mlquarter {
  margin-left: margin-size(0.25)
}

.mtquarter {
  margin-top: margin-size(0.25)
}


/*
!++++++ PADDINGS
*/

/* 0 rem */
.p0 {
  padding: 0rem
}

.pt0 {
  padding-top: 0rem
}

.pr0 {
  padding-right: 0rem
}

.pb0 {
  padding-bottom: 0rem
}

.pl0 {
  padding-left: 0rem
}

/* 1 baseline */
.p1 {
  padding: $baseline
}

.pt1 {
  padding-top: $baseline
}

.pr1 {
  padding-right: $baseline
}

.pb1 {
  padding-bottom: $baseline
}

.pl1 {
  padding-left: $baseline
}

/* 2 baseline */
.p2 {
  padding: margin-size(2)
}

.pt2 {
  padding-top: margin-size(2)
}

.pr2 {
  padding-right: margin-size(2)
}

.pb2 {
  padding-bottom: margin-size(2)
}

.pl2 {
  padding-left: margin-size(2)
}


/* 3 baseline */
.p3 {
  padding: margin-size(3)
}

.pt3 {
  padding-top: margin-size(3)
}

.pr3 {
  padding-right: margin-size(3)
}

.pb3 {
  padding-bottom: margin-size(3)
}

.pl3 {
  padding-left: margin-size(3)
}

/* 4 baseline */
.p4 {
  padding: margin-size(4)
}

.pt4 {
  padding-top: margin-size(4)
}

.pr4 {
  padding-right: margin-size(4)
}

.pb4 {
  padding-bottom: margin-size(4)
}

.pl4 {
  padding-left: margin-size(4)
}

.phalf {
  padding: margin-size(0.5)
}

.pthalf {
  padding-top: margin-size(0.5)
}

.prhalf {
  padding-right: margin-size(0.5)
}

.pbhalf {
  padding-bottom: margin-size(0.5)
}

.plhalf {
  padding-left: margin-size(0.5)
}

.plquarter {
  padding-left: margin-size(0.25)
}

.prquarter {
  padding-right: margin-size(0.25)
}




*,
*::after,
*::before {
    box-sizing: inherit
}

html {
    box-sizing: border-box
}

/* Clearfix hack to clear the floats */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}





.align-center {
  text-align: center
}

.align-left {
  text-align: left
}

.align-right {
  text-align: right
}

.italic {
  font-style: italic
}

.expanded {
  letter-spacing: 1px
}

.expanded-2 {
  letter-spacing: 2px
}

.expanded-3 {
  letter-spacing: 3px
}

.word-spacing {
  word-spacing: 5px;
}

.condensed {
  letter-spacing: -1px
}

/* FONT STYLES */
.light {
  font-weight: 300
}

.normal {
  font-weight: 400
}

.bold-500 {
  font-weight: 500
}

.bold-600 {
  font-weight: 600
}

.bold-700 {
  font-weight: 700
}

.bold-800 {
  font-weight: 800
}

.black-900 {
  font-weight: 900
}

.uppercase {
  text-transform: uppercase
}

.underline {
  text-decoration: underline
}

.no-underline {
  text-decoration: none
}

.line-through {
  text-decoration: line-through;
}

.lh1 {
  line-height: 1
}

.lh13 {
  line-height: 1.3
}

.left {
  float: left
}

.right {
  float: right
}

.inline {
  display: inline
}

.block {
  display: block
}

.hidden {
  display: none
}

table {
  font-family: $heading-font;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: $small-size;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%
}

table, th, td {
  border: none;
}

.app-logo-table {
  width: 149px;
}

.no-border {
  border: none !important;
}

figcaption {
  font-family: $heading-font;
  margin-bottom: 1.5rem;
  font-size: $small-size;
  font-style: italic;
  margin-left: 0rem;
  margin-right: 1rem;
}

.normal-font {
  font-style: normal
}

caption {
  font-family: $heading-font;
  margin: 0;
  font-size:  $small-size;
  font-style: italic;
  color: $dark-gray;
}


img {
  margin-top: 1.5rem;
  margin-bottom: .5rem;
  margin-left: 0rem;
  margin-right: 0rem;
  display: block;
  height: auto;
  max-width: 100%;
}

.thumbnail-img {
  margin-top: 0;
  display: block;
  height: auto;
  width: 100%;
}

.profile {
  border-radius: 0px 7px;
}

.medium-img {
  width: 50%;
}

.logo {
  height: 30px;
  width: 30px;
}

.navbar-height {
  height: 50px;
}

iframe {
  display: block;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

th,
td {
  /*border: 1px solid #E1E3E4;*/
  padding: 0.25rem 0.5rem
}

tr:nth-child(even) {
  background: rgba(225, 227, 228, 0.3)
}

.border-top {
  border-top: 1px solid #ccc
}

.border-shadow {
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:   0px 2px 4px rgba(0, 0, 0, 0.25);  /* Firefox 3.5 - 3.6 */
  box-shadow:        0px 2px 4px rgba(0, 0, 0, 0.25);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  border-radius: 2px;
}

.border-shadow-input {
  -webkit-box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:   -1px -1px 1px rgba(0, 0, 0, 0.4);  /* Firefox 3.5 - 3.6 */
  box-shadow:         -1px -1px 1px rgba(0, 0, 0, 0.4);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  border-radius: 4px;
}

.border-full {
  border: 1px solid #999
}

.border-full-white {
  border: 1px solid $hawkes-blue;
}

.img-border {
  border: 2px solid #ff6600
}

.border-left {
  border-left: .5rem solid #ff6600;
  border-radius: .125rem;
}

.border-none {
  border: none
}

.border-radius-6 {
  border-radius: 6px;
}




hr {
  border: 0.5px solid #EFEFEF;
  margin: 0;
  margin-bottom: 0rem;
}

.dark-hr {
  border: 0.5px solid #DDD;
  margin: 0;
  margin-bottom: .5rem !important;
}

a {
  text-decoration: underline;
  color: $blue;
  transition: color 0.3s ease-in
}
a:focus, a:hover {
  color: hsl(349, 56%, 46%);
  text-decoration: none;
}

.white-link {
  color: #fff !important;
  text-decoration: none;
}

.white-link:hover, .white-link:active, .white-link:focus {
  transition: ease-in 0.3s;
  color: #fff;
  text-decoration: underline;
}

.linkedin-link:hover {
  color: #fff !important;
  text-decoration: none;
}

.gray-link {
  color: #E5E5E5;
  text-decoration: underline;
}

.gray-link:hover, .gray-link:active, .gray-link:focus {
  transition: ease-in 0.3s;
  color: #fff;
  text-decoration: none;
}

.black-link {
  color: $black !important;
  text-decoration: underline;
}

.black-link:hover, .black-link:active {
  transition: ease-in 0.3s;
  color: #000;
  text-decoration: none;
}

/*
a:visited {
  color: rgb(80, 5, 99);
}*/

.no-visited:visited {
  color: #fff
}

.unselectable {
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

::-moz-selection {
  color: #fff;
  background: $blue
}

::selection {
  color: #fff;
  background: $blue
}

.btn:hover, .btn:active, .btn:focus {
  color: #fff;
  background: $blue
}

.btn:active, .btn:active {
  background: $blue;
  box-shadow: none;
}

.btn {
  height: 50px;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 5px 5px rgba(0, 0, 0, 0.25);  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 5px 5px rgba(0, 0, 0, 0.25);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  border: 0px solid #999;
  border-radius: 0px 7px;
  color: $almost-white;
  font-family: $heading-font;
  line-height: $baseline;
  text-align: center;
}

.btn-primary {
  color: #fff;
  background: #c32b0d;
}


.container {
  padding: 0 1rem;
  margin: 0 1rem;
}

input {
  border-radius: 5px;
  min-width: 100%;
}

input {
  background-color: #fff;
  font-family: $body-font;
  font-size: 1rem;
  color: #000
}

input[type=text]:focus, input[type="email"]:focus, textarea:focus {
  background-color: #faffbd
}

textarea {
  font-family: $body-font;
  font-size: 1rem;
  border-width: 2px;
  border-style: solid;
  border-top-color: #999;
  border-left-color: #999;
  border-right-color: #ddd;
  border-bottom-color: #ddd;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  min-width: 100%;
  min-height: 250px;
}


.up-btn {
  box-shadow: 0.5px 0.5px 0.5px 0px #ccc;
  width: 72px;
  height: 72px;
  display: block;
  border-radius: 50%;
  margin: 0rem;
}

.icon {
  display: inline;
  margin: 0;
  padding: 0;
  width: 28px;
  height: 28px;
}


.custom-form .ws-invalid label,
.custom-form .ws-invalid h3 {
  color: #333;
}
.custom-form .ws-invalid input, .custom-form .ws-invalid textarea {
  border-color: #b94d56;
}

.custom-form .ws-success input, .custom-form .ws-success textarea {
  border-color: #52b822;
}

.ws-errorbox {
  padding-left: .5rem;
  letter-spacing: 1px;
  font-weight: 600;
  font-family: 'LatoSemibold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.ws-errorbox p {
  color: #b94d56;
  font-size: 0.8rem;
}

.btn-lg,
.btn-group-lg > .btn {
padding: 8.5px 38px;
/*font-size: 20px;*/
line-height: $baseline;
border-radius: 0px 7px;
}

.mapouter {
  text-align: right;
  width: 100%;
  height: auto;
}

.gmap_canvas {
  overflow:hidden;
  background:none !important;
  height: auto;
  width: 100%;
}

.map-responsive{
  overflow:hidden;
  padding-bottom:50%;
  position:relative;
  height:0;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.bg-light-honeycombs {
  background: url(../images/intro_bg.png);
  background-size: auto, cover;
}

.bg-dark-honeycombs {
  background: url(../images/footer_bg.png);
  background-size: auto, cover;
}


.outer-bg {
  position: relative;
  z-index: 1;
 
}
.inner-text {
  z-index: 2;
  position: absolute;
  bottom: 0;
  right: 16px;
}


.level-bar-outer {
  z-index: 0;
  position: relative;
  width: 150px;
  height: 7px;
  border-radius: 0px 2px 2px 0px;
}

.level-bar-inner135 {
  z-index: 1;
  position: absolute;
  width: 135px;
  height: 7px;
  border-radius: 0px 1px 1px 0px;
}

.level-bar-inner125 {
  z-index: 1;
  position: absolute;
  width: 125px;
  height: 7px;
  border-radius: 0px 1px 1px 0px;
}

.level-bar-inner85 {
  z-index: 1;
  position: absolute;
  width: 85px;
  height: 7px;
  border-radius: 0px 1px 1px 0px;
}

.level-bar-inner75 {
  z-index: 1;
  position: absolute;
  width: 75px;
  height: 7px;
  border-radius: 0px 1px 1px 0px;
}

.level-bar-inner36 {
  z-index: 1;
  position: absolute;
  width: 36px;
  height: 7px;
  border-radius: 0px 1px 1px 0px;
}



/* MEDIA QUERIES */
@media (min-width: 60rem) {

}

@media (max-width: 1800px) {
    .mx-responsive {
        margin-left: 125px !important;
        margin-right: 125px !important;
    }
}

@media (min-width: 1441px) {
}

@media (max-width: 1440px) {
    .mx-responsive {
        margin-left: 66px !important;
        margin-right: 66px !important;
    }
}

@media (min-width: 1025px) {

}

@media (max-width: 1024px) {
    .mx-responsive {
        margin-left: 50px !important;
        margin-right: 50px !important;
    }
}

@media (max-width: 992px) {
  .m-mt1 {
    margin-top: margin-size(1) !important;
  }

  .mobile-hide-nav {
    display:none;
  }
}

@media (max-width: 768px) {
    .mx-responsive {
        margin-left: 33px !important;
        margin-right: 33px !important;
    }

    .m-pl0 {
      padding-left: 0 !important;
    }

    .profile {
      width: 60% !important;
      height: auto !important;
    }

    .m-mt0 {
      margin-top: 0 !important;
    }
}

@media (max-width: 576px) {
    .mx-responsive {
        margin-left: 18px !important;
        margin-right: 18px !important;
    }

    .large-title {
      font-size: 34px !important;
    }

    .page-title {
      font-size: 17px !important;
    }

    .sub-title {
      font-size: 22px !important;
    }

    .m-extra-small {
      font-size: $extra-small !important;
    }

    .m-mrquarter {
      margin-right: margin-size(0.25)
    }

    .m-mt-15px {
      margin-top: 15px !important;
    }

    .m-mt3 {
      margin-top: margin-size(3)
    }

    h1 {
      font-size: 38px
    }

    h2 {
      font-size: 28px
    }

    h3 {
      font-size: 25px
    }

    h4 {
      font-size: 20px
    }

    p {
      font-size: 20px;
    }

    ol,
    ul {
      margin-top: 0;
      padding-left: 1.5rem;
      margin-top: 1rem;
      margin-bottom: 2rem;
      font-size: 20px;
    }

    .small-size {
      font-size: 16px !important
    }

    .min-size {
      font-size: 14px !important
    }

    caption, figcaption {
      font-size: 16px !important
    }

    .m-ml0 {
      margin-left: 0 !important;
    }

    .m-mb0 {
      margin-bottom: 0 !important;
    }

    .m-mb1 {
      margin-bottom: margin-size(1) !important;
    }

    .m-mb-50px {
      margin-bottom: 50px !important;
    }

    .m-mt0 {
      margin-top: 0 !important;
    }

    .m-mt2 {
      margin-top: margin-size(2) !important;
    }

    .m-pl0 {
      padding-left: 0 !important;
    }

    .m-mx-0 {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }

    .m-mxhalf {
      margin-left: margin-size(0.5) !important;
      margin-right: margin-size(0.5) !important;
    }

    .m-mx-18px {
      margin-left: 18px !important;
      margin-right: 18px !important;
    }

    .profile {
      width: 80% !important;
      height: auto !important;
    }

    .logo {
      height: 25px !important;
      width: 25px !important;
    }
}

@media (max-width: 347px) {

}


/* CUSTOM CSS RULES */

.mb-66px {
  margin-bottom: 66px
}

.large-title {
  font-size: 72px
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: $torch-red;
}

.nav-link {
  display: block;
  padding: .25rem .5rem;
}

.app-logo {
  margin: 0;
  width: $baseline;
  height: $baseline;
  border-radius: 0 4px 0 4px;
}

.tooltip {
  font-family: $heading-font;
  font-size: $min-size;
}

.nav-link:hover {
  color: $blue;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: $san-juan !important;
}

.dropdown-item {
  color: $san-juan
}

.mt70px {
  margin-top: 70px;
}

.border-radius-0-7 {
  border-radius: 0px 7px
}