.white-link {
  color: #fff !important;
  text-decoration: none;
}

.white-link:hover, .white-link:active, .white-link:focus {
  transition: ease-in 0.3s;
  color: #fff;
  text-decoration: underline;
}

.gray-link {
  color: #E5E5E5;
  text-decoration: underline;
}

.gray-link:hover, .gray-link:active, .gray-link:focus {
  transition: ease-in 0.3s;
  color: #fff;
  text-decoration: none;
}

a.black-link {
  color: $midnight-express !important;
  text-decoration: no-underline !important;
}

a.black-link:hover, .black-link:active {
  transition: ease-in 0.3s;
  color: $torch-red-2;
  text-decoration: underline;
}


.go-back-btn {
  position: relative;
  line-height: 1
}

.go-back-btn:before {
  position: absolute;
  content: '';
  bottom: -2px;
  right: -2px;
  /*height: 44px;
  width: 162px;*/
  height: 0px;
  width: 162px;
  background: transparent;
  border: 2px solid transparent;
  border-bottom: 2px solid $light-pink
}

.go-back-btn:hover:before {
  animation: animate .4s ease forwards;
}



.project-link {
  position: relative;
  line-height: 1
}

.project-link:before {
  position: absolute;
  content: '';
  bottom: -2px;
  right: -2px;
  /*height: 44px;
  width: 162px;*/
  height: 0px;
  width: 162px;
  background: transparent;
  border: 2px solid transparent;
  border-bottom: 2px solid $light-pink
}

.project-link:hover:before {
  animation: animate .4s ease forwards;
}
@keyframes animate
{
  0%
  {
    height: 0px;
    width: 162px;
    border-bottom: 2px solid #b7344c;
    border-right: 2px solid transparent;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
  }
  20%
  {
    height: 44px;
    width: 162px;
    border-bottom: 2px solid #b7344c;
    border-right: 2px solid #b7344c;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
  }
  75%
  {
    height: 44px;
    width: 162px;
    border-bottom: 2px solid #b7344c;
    border-right: 2px solid #b7344c;
    border-top: 2px solid #b7344c;
    border-left: 2px solid transparent;
  }

  100%
  {
    height: 44px;
    width: 162px;
    border-bottom: 2px solid #b7344c;
    border-right: 2px solid #b7344c;
    border-top: 2px solid #b7344c;
    border-left: 2px solid #b7344c;
  }
}


.zoom-animation img:hover {
  animation: zoominout .9s ease;
}

@keyframes zoominout
{
  0%
  {
    transform: scale(1,1);
  }
  50%
  {
    transform: scale(1.04,1.04);
    -webkit-filter: contrast(107%);
    filter: contrast(107%);
  }
  100%
  {
    transform: scale(1,1);
    -webkit-filter: contrast(100%);
    filter: contrast(100%);
  }

}

.cover-image-relative {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-filter: brightness(80%);
  filter: brightness(80%);
}

.post-attributes-absolute {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: #EF607A;
  width: 278px;
  height: 185px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/*.flip-card:hover {
  border: 1px solid $light-pink;
}*/


/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: $hawkes-blue;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: $dark-steel-blue;
  color: white;
  transform: rotateY(180deg);
}

.svg-hover-item:hover {
  transition: 0.3s ease-in-out;
  fill: #b7344c;
}

.svg-hover-item-white:hover {
  transition: 0.3s ease-in-out;
  fill: #fff;
}