// Size Variables
$baseline:    1.545rem /* 34px */;
$base-size:   22px;
$lheight:     1.5;
$h1-size:     2.727272rem;
$h2-size:     1.954545rem;
$h3-size:     1.409090rem;
$small-size:  0.818181rem;
$min-size:    0.727272rem;
$extra-small: 0.636363rem;
$page-title-size: 0.909090rem;
$footer-title: 1.136363rem;


.page-title-size {
  font-size: $page-title-size;
}
.site-title {
  font-size: 72px;
}

.footer-title {
  font-size: $footer-title;
}

.extra-small {
  font-size: $extra-small;
}

// Fonts
$heading-font: 'IBM Plex Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
$body-font:    'IBM Plex Serif', Georgia, 'Times New Roman', Times, serif; 


// Color Variables
$midnight-express: #21263C;
$san-juan:         #47545d;
$light-san-juan:   #c5cdd2;
$darker-san-juan:  #30393F;
$black:            #333C42;
$hawkes-blue:      #D7DAE1;
$almost-white:     #F1F5FC;
$torch-red:        #EF163E;
$torch-red-2:      #D61438;
$light-pink:       #b94c60;/*#EF607A;*/
$dark-pink:        #b7344c;
$light-gray:       #ECF0F7;
$light-gray2:      #D9DDE3;
$gray-3:           #7E919E;
$gray-4:           #AEB6C1;
$white:        #FFF;
$white2:       #F1F5FC;
$gray:         #C0BBB9;
$gray2:        #A89E9C;
$dark-gray:    #433F3E;
$blue:         #2A3E94;
$dark-steel-blue:    #333A56;


// Function to calculate margin sizes (n times the baseline grid size)
@function margin-size($n) {
  @return $n * $baseline;
}

.bg-linear-blue {
  background: linear-gradient(161.89deg, #FFFFFF 9.09%, #B3BAD5 78.44%), #B3BAD5;
}

.sub-title {
  font-size: $h3-size;
  font-weight: 700;
}

.small-size {
  font-size: $small-size;
}

.min-size {
  font-size: $min-size;
}

.border-gray {
  border: 1px solid $gray-3;
  box-sizing: border-box;
  border-radius: 4px;
}

.border-light-blue {
  border: 1px solid #C2CCDB;
  box-sizing: border-box;
  border-radius: 0px 7px;
}

.black {
  color: $black;
}

.bg-black {
  background: $black;
}

.midnight-express {
  color: $midnight-express !important
}
.bg-midnight-express {
  background: $midnight-express
}

.dark-steel-blue {
  color: $dark-steel-blue;
}

.bg-dark-steel-blue {
  background: $dark-steel-blue;
}


.san-juan {
  color: $san-juan
}

.bg-san-juan {
  background: $san-juan
}

.darker-san-juan {
  color: $darker-san-juan
}

.hawkes-blue {
  color: $hawkes-blue
}
.bg-hawkes-blue {
  background: $hawkes-blue
}

.almost-white {
  color: $almost-white
}
.bg-almost-white {
  background-color: $almost-white
}

.white {
  color: $white
}

.bg-none {
  background: none;
}

.torch-red {
  color: $torch-red
}
.bg-torch-red {
  background: $torch-red
}

.torch-red-2 {
  color: $torch-red-2
}

.bg-torch-red-2 {
  background: $torch-red-2
}

.light-pink {
  color: $light-pink
}
.bg-light-pink {
  background: $light-pink
}

.dark-pink {
  color: $dark-pink
}
.bg-dark-pink {
  background: $dark-pink
}


.light-gray {
  color: $light-gray
}
.bg-light-gray {
  background: $light-gray
}
.light-gray2 {
  color: $light-gray2
}

.gray-3 {
  color: $gray-3
}

.border-light-gray2 {
  border: 1px solid $light-gray2;
  box-sizing: border-box;
  border-radius: 0px 7px;
}