@charset "UTF-8";
/* Created by András Gulácsi (@andrasgulacsi / salsaboy990) */

body,
html {
  color: $black;
  background: $white;
  font-size: $base-size;
  font-family: $body-font;
  line-height: $lheight;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: left;
  /*scroll-behavior: smooth;*/
}

body,
p,
blockquote,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

pre {
  margin: 2rem 0;
  padding: 0;
}

pre code {
  font-size: 0.8rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  font-weight: 700;
  color: $midnight-express;
  margin: 2rem 0 $baseline 0;
  -webkit-font-smoothing: initial;
  line-height: 1.1;
}

.sans-serif {
  font-family: $heading-font;
}

/*.page-title {
  font-size: 1rem;
}*/

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: underline;
  font-weight: 700;
}

h1,
.h1 {
  font-size: $h1-size;
  margin-top: 0;
}

h2,
.h2 {
  font-size: $h2-size;
}

h3,
.h3 {
  font-size: $h3-size;
}

h4,
.h4 {
  font-size: $base-size;
}

h5,
.h5 {
  font-size: $small-size;
}

h6,
.h6 {
  font-size: $min-size;
}

p {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul {
  margin-top: 0;
  padding-left: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 20px;
}

.no-bullets {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0rem;
  padding-left: 0;
  line-height: 1.54;
}

blockquote {
  font-style: italic;
  font-family: $body-font;
  padding: 0;
}

.no-shadow {
  -webkit-box-shadow: none; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: none; /* Firefox 3.5 - 3.6 */
  box-shadow: none; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.tshadow-gray {
  text-shadow: -0.5px -0.5px 0 #999, 0.5px -0.5px 0 #999, -0.5px 0.5px 0 #999,
    0.5px 0.5px 0 #999;
}

.lheight {
  line-height: 70px;
}

.lh15 {
  line-height: 1.5;
}

.lh13 {
  line-height: 1.333333;
}

.lh2 {
  line-height: 2;
}

.lh3 {
  line-height: 2.5;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/* Clearfix hack to clear the floats */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.italic {
  font-style: italic;
}

.expanded {
  letter-spacing: 1px;
}

.expanded-2 {
  letter-spacing: 2px;
}

.expanded-3 {
  letter-spacing: 3px;
}

.word-spacing {
  word-spacing: 5px;
}

.condensed {
  letter-spacing: -1px;
}

/* FONT STYLES */
.light {
  font-weight: 300;
}

.normal {
  font-weight: 400;
}

.bold-500 {
  font-weight: 500;
}

.bold-600 {
  font-weight: 600;
}

.bold-700 {
  font-weight: 700;
}

.bold-800 {
  font-weight: 800;
}

.black-900 {
  font-weight: 900;
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
}

.no-underline {
  text-decoration: none !important;
}

.line-through {
  text-decoration: line-through;
}

.lh1 {
  line-height: 1;
}

.lh13 {
  line-height: 1.3;
}

.left {
  float: left;
}

.right {
  float: right;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

table {
  font-family: $heading-font;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: $min-size;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table,
th,
td {
  border: 1px solid $hawkes-blue;
}

.app-logo-table {
  width: 149px;
}

.no-border {
  border: none !important;
}

figcaption {
  font-family: $heading-font;
  margin-bottom: margin-size(2);
  font-size: $small-size;
  font-style: italic;
  margin-left: 0;
  text-align: center;
}

figure img {
  margin-top: margin-size(2);
}

.normal-font {
  font-style: normal;
}

caption {
  font-family: $heading-font;
  margin: 0;
  font-size: $small-size;
  font-style: italic;
  color: $dark-gray;
  text-align: center;
}

img {
  // margin-top: margin-size(2);
  margin-bottom: margin-size(1);
  margin-left: 0rem;
  margin-right: 0rem;
  display: block;
  height: auto;
  max-width: 100%;
}

.thumbnail-img {
  margin-top: 0;
  display: block;
  height: auto;
  width: 100%;
}

.profile {
  border-radius: 0px 7px;
}

.profile-img {
  width: margin-size(4);
  height: auto;
}

.medium-img {
  width: 50%;
}

.logo {
  height: 30px;
  width: 123px;
}

.navbar-height {
  height: 50px;
}

iframe {
  display: block;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

th,
td {
  /*border: 1px solid #E1E3E4;*/
  padding: 0.25rem 0.5rem;
}

tr:nth-child(even) {
  background: rgba(225, 227, 228, 0.3);
}

.border-top {
  border-top: 1px solid #ccc;
}

.border-shadow {
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25); /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  border-radius: 2px;
}

.border-shadow-input {
  -webkit-box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4); /* Firefox 3.5 - 3.6 */
  box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  border-radius: 4px;
}

.border-full {
  border: 1px solid #999;
}

.border-full-white {
  border: 1px solid $hawkes-blue;
}

.img-border {
  border: 2px solid #ff6600;
}

.border-left {
  border-left: 0.5rem solid #ff6600;
  border-radius: 0.125rem;
}

.border-none {
  border: none;
}

.border-radius-6 {
  border-radius: 6px;
}

hr {
  border: 2px solid $san-juan;
  margin: 0;
  margin-top: margin-size(1);
  margin-bottom: 0.5rem;
}

.light-hr {
  border: 1px solid $light-gray2;
}

.small-hr {
  width: 136px;
  margin-top: 0;
}

a {
  text-decoration: underline;
  color: $blue;
  transition: color 0.3s ease-in;
}
a:focus,
a:hover {
  color: hsl(349, 56%, 46%);
  text-decoration: none;
}

a.item-link {
  text-decoration: none;
  color: $blue;
  transition: color 0.3s ease-in;
}
a.item-link:focus,
a.item-link:hover {
  color: hsl(349, 56%, 46%);
  text-decoration: underline;
}

/*
a:focus, a:focus img {
  outline: $light-pink dotted 3px;
}*/

/*
a:visited {
  color: rgb(80, 5, 99);
}*/

.no-visited:visited {
  color: #fff;
}

.unselectable {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

::-moz-selection {
  color: #fff;
  background: $blue;
}

::selection {
  color: #fff;
  background: $blue;
}

.btn:hover,
.btn:active,
.btn:focus {
  color: #fff;
  background: #942136;
}

.btn:active,
.btn:active {
  background: #942136;
  box-shadow: none;
}

.btn {
  height: 50px;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25); /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  border: 0px solid #999;
  border-radius: 0px 7px;
  color: $almost-white;
  font-family: $heading-font;
  line-height: $baseline;
  text-align: center;
}

.toolbar .toolbar-item button {
  font-size: $min-size;
  margin: 0;
  padding: 0 5px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 1px solid #999;
  position: absolute;
  top: 0;
  right: 0;
  color: $san-juan;
  background: $light-gray2;
}
/*   light-gray2 bg-black*/

.code-toolbar pre {
  margin-bottom: 0 !important;
}

.code-toolbar {
  margin-bottom: margin-size(1);
  position: relative;
}

.btn-primary {
  color: #fff;
  background: #c32b0d;
}

.container {
  padding: 0 1rem;
  margin: 0 1rem;
}

input {
  border-radius: 5px;
  min-width: 100%;
}

input {
  background-color: #fff;
  font-family: $body-font;
  font-size: 1rem;
  color: #000;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  background-color: #faffbd;
}

textarea {
  font-family: $body-font;
  font-size: 1rem;
  border-width: 2px;
  border-style: solid;
  border-top-color: #999;
  border-left-color: #999;
  border-right-color: #ddd;
  border-bottom-color: #ddd;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  min-width: 100%;
  min-height: 250px;
}

.up-btn {
  box-shadow: 0.5px 0.5px 0.5px 0px #ccc;
  width: 72px;
  height: 72px;
  display: block;
  border-radius: 50%;
  margin: 0rem;
  margin-top: 15px;
}

.icon {
  display: inline;
  margin: 0;
  padding: 0;
  width: 28px;
  height: 28px;
}

.mapouter {
  text-align: right;
  width: 100%;
  height: auto;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: auto;
  width: 100%;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 50%;
  position: relative;
  height: 0;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.bg-light-honeycombs {
  background: url(../images/intro_bg.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

li {
  list-style-image: url(../images/custom-bullet.png);
}

.no-list-image {
  list-style-image: none;
}

.bg-dark-honeycombs {
  background: url(../images/footer_bg.png);
  /* Background image is centered horizontally at all times */
  background-position: top center;
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */

  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
}

.bg-dark-honeycombs-2 {
  background: url(../images/header-bg-2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

@media (max-width: 992px) {
  .bg-dark-honeycombs {
    background-position: top -20%;
    /* Background image doesn't tile */
    background-size: cover;
  }
}

/* CUSTOM CSS RULES */

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: $dark-pink;
}

.nav-link {
  display: block;
  padding: 0.25rem 0.5rem;
}

.app-logo {
  margin: 0;
  width: $baseline;
  height: $baseline;
  border-radius: 0 4px 0 4px;
}

.tooltip {
  font-family: $heading-font;
  font-size: $min-size;
}

.nav-link:hover {
  color: $blue;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: $san-juan !important;
}

.dropdown-item {
  color: $san-juan;
}

.border-radius-0-7 {
  border-radius: 0px 7px;
}

.popover-body {
  font-family: $body-font;
  font-size: 12px;
  color: #000;
  padding: 0.25rem 0.5rem;
}

.footer-title-padding {
  padding: 136px 0;
}

.footer-social {
  padding: 130px 0;
}



